.register-container {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.form-container {
  display: grid;
  place-items: center;
  padding: 50px;
}

form {
  width: 100%;
}

.register-img {
  height: 100%;
  background-image: url("/assets/images/register2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
