<footer>
  <div>&copy; Yoan Ivanov {{ date | date : "yyyy" }}. All rights reserved.</div>
  <div class="footer-links">
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/recipes"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Recipes</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/recipes/add"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Add recipe</a
        >
      </li>
    </ul>
  </div>
</footer>
