.navbar-brand {
  font-family: "Nerko One", cursive;
  color: var(--primary);
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary);
}

.nav-link.active {
  font-weight: bold;
  color: var(--primary);
}

.navbar-toggler {
  color: var(--text-color);
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--primary);
  color: #fff;
}

.dropdown-item:active,
.dropdown-item.active {
  background-color: var(--primary);
}

.navbar-toggler {
  font-size: 1rem;
  border: 1px solid var(--primary25);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28108, 158, 79%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
