<div class="hero animate__animated animate__fadeIn">
  <img
    src="/assets/images/all-recipes.jpg"
    alt="All recipes"
    width="100%"
    height="100%"
  />
</div>
<div class="overflow-hidden padding-fix">
<div class="all-recipes-container animate__animated animate__slideInUp animate__fast">
  <div>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1 class="headline m-0">All recipes</h1>
      <button class="simple-link fw-semibold dropdown-toggle button-style-reset p-0" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{show === 'popular' ? 'Most popular' : 'Recently added'}}
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><button [ngClass]="{'active': show !== 'popular'}" class="dropdown-item button-style-reset" (click)="showRecipes('recent')">Recently added</button></li>
        <li><button [ngClass]="{'active': show === 'popular'}" class="dropdown-item button-style-reset" (click)="showRecipes('popular')">Most popular</button></li>
      </ul>
    </div>

    <div
      class="d-flex justify-content-center"
      *ngIf="dataFromServer.isLoading || dataFromServer.isError"
    >
      <div
        class="spinner-border"
        role="status"
        *ngIf="dataFromServer.isLoading"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="m-0" *ngIf="dataFromServer.isError">
        Oops! Something went wrong while getting the recipes for you. Please
        refresh the page.
      </p>
    </div>
    <div class="cards" *ngIf="dataFromServer.isSuccess">
      <ng-container *ngIf="allRecipes.length > 0">
        <div class="card-container" *ngFor="let recipe of allRecipes">
          <app-recipe-item [recipe]="recipe"></app-recipe-item>
        </div>
      </ng-container>
      <p class="m-0" *ngIf="allRecipes.length == 0">
        There aren't any recipes yet.
      </p>
    </div>
  </div>
</div>
</div>
