<div class="hero animate__animated animate__fadeIn">
  <img
    src="/assets/images/all-recipes.jpg"
    alt="All recipes"
    width="100%"
    height="100%"
  />
</div>
<div class="overflow-hidden padding-fix">
<div class="all-recipes-container animate__animated animate__slideInUp animate__fast">
  <div>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1 class="headline m-0">All recipes</h1>
      <div class="d-flex align-items-center gap-3">
        <input
            type="text"
            class="form-control"
            id="search"
            placeholder="Search"
            [(ngModel)]="query"
            (keyup)="search()"
        />
        <select
            id="filter"
            class="form-select w-auto"
            (change)="handleChange($event)"
        >
            <option value="recent" [selected]="this.show === 'recent'">Recent</option>
            <option value="popular" [selected]="this.show === 'popular'">Popular</option>
        </select>
      </div>
    </div>

    <div
      class="d-flex justify-content-center"
      *ngIf="dataFromServer.isLoading || dataFromServer.isError"
    >
      <div
        class="spinner-border"
        role="status"
        *ngIf="dataFromServer.isLoading"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="m-0" *ngIf="dataFromServer.isError">
        Oops! Something went wrong while getting the recipes for you. Please
        refresh the page.
      </p>
    </div>
    <div class="cards" *ngIf="dataFromServer.isSuccess">
      <ng-container *ngIf="allRecipes.length > 0">
        <div class="card-container" *ngFor="let recipe of allRecipes">
          <app-recipe-item [recipe]="recipe"></app-recipe-item>
        </div>
      </ng-container>
      <p class="m-0" *ngIf="allRecipes.length == 0">
        There aren't any recipes yet.
      </p>
    </div>
  </div>
</div>
</div>
