<div class="hero animate__animated animate__fadeIn">
  <img src="/assets/images/home.jpg" alt="Home" width="100%" height="100%" />
</div>
<div class="overflow-hidden padding-fix">
<div class="home-container animate__animated animate__slideInUp animate__fast">
  <div>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1 class="headline m-0">Recently added recipes</h1>
      <a class="simple-link fw-semibold" routerLink="/recipes">View all</a>
    </div>

    <div class="d-flex justify-content-center" *ngIf="recipes.isLoading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <p class="m-0" *ngIf="recipes.isError">
      Oops! Something went wrong while getting the recipes for you. Please
      refresh the page.
    </p>

    <div class="cards" *ngIf="recipes.isSuccess">
      <ng-container *ngIf="recipes.data.recent.length > 0">
        <div class="card-container" *ngFor="let recipe of recipes.data.recent">
          <app-recipe-item [recipe]="recipe"></app-recipe-item>
        </div>
      </ng-container>
      <p class="m-0" *ngIf="recipes.data.recent.length == 0">
        There aren't any recipes yet.
      </p>
    </div>
  </div>
  <div>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1 class="headline m-0">Popular recipes</h1>
      <a class="simple-link fw-semibold" routerLink="/recipes">View all</a>
    </div>

    <div class="d-flex justify-content-center" *ngIf="recipes.isLoading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <p class="m-0" *ngIf="recipes.isError">
      Oops! Something went wrong while getting the recipes for you. Please
      refresh the page.
    </p>

    <div class="cards" *ngIf="recipes.isSuccess">
      <ng-container *ngIf="recipes.data.popular.length > 0">
        <div class="card-container" *ngFor="let recipe of recipes.data.popular">
          <app-recipe-item [recipe]="recipe"></app-recipe-item>
        </div>
      </ng-container>
      <p class="m-0" *ngIf="recipes.data.popular.length == 0">
        There aren't any recipes yet.
      </p>
    </div>
  </div>

  <div *ngIf="user && recipes?.data?.liked?.length > 0">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1 class="headline m-0">Recently liked recipes</h1>
      <a class="simple-link fw-semibold" routerLink="/recipes">View all</a>
    </div>

    <div class="d-flex justify-content-center" *ngIf="recipes.isLoading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <p class="m-0" *ngIf="recipes.isError">
      Oops! Something went wrong while getting the recipes for you. Please
      refresh the page.
    </p>

    <div class="cards" *ngIf="recipes.isSuccess">
      <ng-container *ngIf="recipes.data.liked.length > 0">
        <div class="card-container" *ngFor="let recipe of recipes.data.liked">
          <app-recipe-item [recipe]="recipe.recipeId"></app-recipe-item>
        </div>
      </ng-container>
      <p class="m-0" *ngIf="recipes.data.liked.length == 0">
        You don't have any liked recipes yet.
      </p>
    </div>
  </div>
</div>
</div>
