.my-recipes-container {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
}

.recipe-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.max-content { 
    width: max-content;
    white-space: nowrap;
}

table th {
    color: var(--secondary);
}

table tr {
    transition: background-color 0.15s ease-in-out;
}
table tr:hover {
    background-color: var(--bs-light);
    cursor: pointer;
}