<div class="hero animate__animated animate__fadeIn">
    <img
      src="/assets/images/add-recipe.jpg"
      alt="Add recipe"
      width="100%"
      height="100%"
    />
  </div>
  <div class="add-recipe-container animate__animated animate__slideInUp animate__fast">
    <div class="recipe-img-placeholder">
        <p class="m-0 img-preview">Image preview</p>
    </div>
    <div class="form-container">
      <h1 class="headline">Add recipe</h1>
      <form [formGroup]="addRecipeForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="row mb-3">
              <div class="col">
                  <label for="title" class="form-label is-required">Title</label>
                  <input
                  type="text"
                  class="form-control"
                  id="title"
                  placeholder="Enter a title"
                  formControlName="title"
                  [ngClass]="{ 'is-invalid': submitted && form.title.errors, 'is-valid': submitted && !form.title.errors }"
                  />
                  <div class="invalid-feedback" *ngIf="submitted && form.title.errors?.required">Please enter a title</div>
                  <div class="invalid-feedback" *ngIf="submitted && form.title.errors?.minlength">Title must be at least 4 characters long</div>
              </div>
              <div class="col">
                <label for="category" class="form-label is-required">Category</label>
                <select 
                    id="category" 
                    class="form-select"
                    formControlName="category"
                    [ngClass]="{ 'is-invalid': submitted && form.category.errors, 'is-valid': submitted && !form.category.errors }"
                    (change)="changeCategory($event)"
                >
                    <option hidden selected value="">Select a category</option>
                    <option value="Appetizers">Appetizers</option>
                    <option value="Main-courses">Main-courses</option>
                    <option value="Side-dishes">Side-dishes</option>
                    <option value="Salads">Salads</option>
                    <option value="Soups">Soups</option>
                    <option value="Desserts">Desserts</option>
                </select>
                <div class="invalid-feedback" *ngIf="submitted && form.category.errors?.required">Please select a category</div>
            </div>
          </div>
          <div class="row mb-3">
            <ng-container formGroupName="imageValidation">
            <div class="col">
              <label for="image" class="form-label is-required">Image URL</label>
              <input
                type="text"
                class="form-control"
                id="image"
                placeholder="Enter an image URL"
                formControlName="image"
                [ngClass]="{ 'is-invalid': submitted && form.imageValidation.get('image')?.errors, 'is-valid': submitted && !form.imageValidation.get('image')?.errors }"
              />
              <div class="invalid-feedback" *ngIf="submitted && form.imageValidation.get('image')?.errors?.required">Please enter an image URL</div>
              <div class="invalid-feedback" *ngIf="submitted && form.imageValidation.get('image')?.errors?.invalidURL">Please enter a valid image URL</div>
            </div>
            </ng-container>
            <div class="col">
              <label for="time" class="form-label is-required">Time</label>
              <input
                type="number"
                class="form-control"
                id="time"
                placeholder="Enter a time"
                formControlName="time"
                [ngClass]="{ 'is-invalid': submitted && form.time.errors, 'is-valid': submitted && !form.time.errors }"
              />
              <div class="invalid-feedback" *ngIf="submitted && form.time.errors?.required">Please enter a time</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-9">
                <label for="ingredients" class="form-label is-required">Ingredients</label>
                <input
                type="text"
                class="form-control"
                id="ingredients"
                placeholder="Enter an ingredient"
                formControlName="ingredients"
                [ngClass]="{ 'is-invalid': submitted && form.ingredients.errors, 'is-valid': submitted && !form.ingredients.errors }"
                />
                <div class="invalid-feedback" *ngIf="submitted && form.ingredients.errors?.required">Please enter at least one ingredient</div>
            </div>
            <div class="col-3">
                <label class="form-label invisible">Placeholder</label>
                <button
                    class="btn my-primary-btn w-100"
                    type="button"
                >
                    Add
                </button>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
                <label for="description" class="form-label is-required">How to prepare</label>
                <textarea 
                    class="form-control" 
                    id="description"
                    placeholder="Enter a description" 
                    rows="3"
                    formControlName="description"
                    [ngClass]="{ 'is-invalid': submitted && form.description.errors, 'is-valid': submitted && !form.description.errors }"
                >
                </textarea>
                <div class="invalid-feedback" *ngIf="submitted && form.description.errors?.required">Please enter how to prepare</div>
            </div>
          </div>
          
          <button
              class="btn my-primary-btn w-100"
              type="submit"
          >
              Add recipe
          </button>
      </form>
    </div>
  </div>  