/* .main-container {
    min-height: calc(100vh - 61px - 448.61px - 53px);
} */

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

app-footer {
    margin-top: auto;
}